/* ====================== [ End Slider ] ====================== */
/*------------------------------------------------------- font-weight -------------------------------------------------------*/
.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

/*------------------------------------------------------- font-size -------------------------------------------------------*/
.fz-8{
  font-size: 8px!important;
}
.fz-10 {
  font-size: 10px !important;
}

.fz-12 {
  font-size: 12px !important;
}

.fz-14 {
  font-size: 14px !important;
}

.fz-15 {
  font-size: 15px !important;
}

.fz-16 {
  font-size: 16px !important;
}

.fz-18 {
  font-size: 18px !important;
}

.fz-20 {
  font-size: 20px !important;
}

.fz-22 {
  font-size: 22px !important;
}

.fz-25 {
  font-size: 25px !important;
}

.fz-30 {
  font-size: 30px !important;
}

.fz-40 {
  font-size: 40px !important;
}

.fz-50 {
  font-size: 50px !important;
}

/*------------------------------------------------------- line-height -------------------------------------------------------*/
.line-height-10 {
  line-height: 10px;
}

.line-height-13 {
  line-height: 13px;
}

.line-height-18 {
  line-height: 18px;
}

.line-height-20 {
  line-height: 20px;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-22 {
  line-height: 22px;
}

.line-height-26 {
  line-height: 26px;
}

.line-height-28 {
  line-height: 28px;
}

.line-height-30 {
  line-height: 30px;
}

.line-height-35 {
  line-height: 35px;
}

.line-height-40 {
  line-height: 40px;
}

.line-height-45 {
  line-height: 45px;
}

.line-height-50 {
  line-height: 50px;
}

.line-height-55 {
  line-height: 55px;
}

.line-height-60 {
  line-height: 60px;
}

.line-height-65 {
  line-height: 65px;
}

.line-height-70 {
  line-height: 70px;
}

.line-height-75 {
  line-height: 75px;
}

.line-height-80 {
  line-height: 80px;
}

.line-height-85 {
  line-height: 85px;
}

.line-height-90 {
  line-height: 90px;
}

.line-height-95 {
  line-height: 95px;
}

.line-height-100 {
  line-height: 100px;
}

.line-height-110 {
  line-height: 110px;
}

.line-height-120 {
  line-height: 120px;
}

/*------------------------------------------------------- text-transform -------------------------------------------------------*/
.text-u {
  text-transform: uppercase !important;
}

.text-l {
  text-transform: lowercase !important;
}

.text-c {
  text-transform: capitalize !important;
}

.text-non {
  text-transform: none !important;
}

.text-i {
  font-style: italic;
}

/*------------------------------------------------------- letter-spacing -------------------------------------------------------*/
.ls0 {
  letter-spacing: 0px !important;
}

.ls1 {
  letter-spacing: 1px !important;
}

.ls2 {
  letter-spacing: 2px !important;
}

.ls3 {
  letter-spacing: 3px !important;
}

.ls4 {
  letter-spacing: 4px !important;
}

.ls5 {
  letter-spacing: 5px !important;
}

.ls10 {
  letter-spacing: 10px !important;
}

.bg-purple {
  color: purple !important;
}

/*------------------------------------------------------- margin-top (0/100) +5 -------------------------------------------------------*/
.m-50 {
  margin: 50px !important;
}

.m-100 {
  margin: 100px !important;
}

/*------------------------------------------------------- margin- (0/100) +5 -------------------------------------------------------*/


.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-55 {
  margin-top: 55px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-62 {
  margin-top: 62px !important;
}

.mt-65 {
  margin-top: 65px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-75 {
  margin-top: 75px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-85 {
  margin-top: 85px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-95 {
  margin-top: 95px !important;
}

.mt-100 {
  margin-top: 100px !important;
}
.mt-160 {
  margin-top: 160px !important;
}

/*------------------------------------------------------- margin-bottom (0/100) +5 -------------------------------------------------------*/
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-55 {
  margin-bottom: 55px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-62 {
  margin-bottom: 62px !important;
}

.mb-65 {
  margin-bottom: 65px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-95 {
  margin-bottom: 95px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mb-400 {
  margin-bottom: 400px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

/*------------------------------------------------------- padding-top (0/100) +5 -------------------------------------------------------*/
.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-55 {
  padding-top: 55px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-65 {
  padding-top: 65px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pt-75 {
  padding-top: 75px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-85 {
  padding-top: 85px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pt-95 {
  padding-top: 95px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pt-300 {
  padding-top: 300px !important;
}

/*------------------------------------------------------- padding-bottom (0/100) +5 -------------------------------------------------------*/
.pb-0 {
  padding-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

CardHeightt .pb-35 {
  padding-bottom: 35px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-55 {
  padding-bottom: 55px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-65 {
  padding-bottom: 65px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pb-75 {
  padding-bottom: 75px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pb-85 {
  padding-bottom: 85px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.pb-95 {
  padding-bottom: 95px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.p-65 {
  padding: 65px !important;
}

.no-padding {
  padding: 0 !important;
}

/* ====================== [ End Helper Classes ] ====================== */
.card-info{
  min-height: 22.5rem!important;
}
/* Intro Components */
.intro-img {
  position: relative;
  height: calc(100vh);
  width: 100%;
 margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
}
@media only screen and (max-width: 500px) {
  .intro-content {
    
    text-align: center;
    z-index: 0;
  }
}
.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  z-index: 0;
  
}
.intro-button {
  background-color: #53a5da;
  border: 1px solid #53a5da;
 opacity: 0.9;
  border-radius: 24px;
  outline: none;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
}
/* Banner Components */
.banner-img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 24px;
  padding: 32px 24px;
  margin: 10px;
}
@media only screen and (max-width: 500px) {
  .banner-content {
    text-align: center;
    margin: 0 10px;
  }
  .banner-img {
    justify-content: center;
  }
}
@media only screen and (max-width: 770px) {
  .footer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }
}

.banner-button {
  border: 1px solid #171a20cc;
  border-radius: 150px;
  padding: 10px 30px;
  background-color: #ffc107;
  color: white;
  font-size: 13px;
}
.footer-mid {
  background-color: #656565;
}
.footer-head {
  color: #fefefe;
  font-size: 15px;
  font-weight: 700;
}
.footer-color {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}
.footer-mid p {
  margin: 0;
}
.footer-mid-bot {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  margin-top: 30px;
}

/* Alle Model */
.allemodel-img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  justify-content: center;
  display: flex;
}
.allemodel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.allemodel-button {
  margin-top: 40px;
  padding: 10px 60px;
  border: 1px solid #1e1e1e;
  border-radius: 50px;
  font-size: 30px !important;
  color: rgb(0, 0, 0);
}
/* Footer Components */
/* footer{
  background-image: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(226, 226, 226) 0%, rgb(203, 203, 203) 0%, rgb(197, 197, 197) 0%, rgba(86, 86, 86, 1) 57%, rgba(40, 40, 40, 1) 100%) !important;
  color: #fff;
}

.footer-top{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.footer-top .logo{
  width: 100px;
  height: 60px;
}
.footer-mid{
  padding: 50px 0;
  
 
}
@media only screen and (max-width: 400px) {
  .footer-bot .footer-text{
    font-size: 10px;
  }
  .footer-mid-bot .footer-bot-text{
    font-size: 15px !important;
  }
} 

*/
.medium-footer {
  background-image: linear-gradient(to top right, black, gray);
  color: #f8f9fa;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px;
}
.mid-footer-bot {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.footer-logo {
  width: 200px;
  height: 120px;
}
.cursor {
  cursor: pointer;
}
.footer {
  background-color: #53a5da;

  opacity: 0.9;
  width: 100%;
  padding: 50px 24px;
  bottom: 0;
  color: white;
}
/* WhyWe Components */
.why-we {
  background-image: linear-gradient(to top right, black, gray);
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
  height: 500px;
  color: white;
}

.BorderWyWe {
  border: 1px solid white;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.WhyWeBg {
  background-image: radial-gradient(#525252 30%, #000000) !important;
}
.mt-6 {
  margin-top: 60px;
}
.fz-25 {
  font-size: 25px !important;
}
.zoomWhyWe:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
.text-45 {
  font-size: 35px !important;
}
.display-4 {
  font-size: 25px !important;
  font-weight: 300;
  line-height: 1.2;
}
.text-16 {
  font-size: 16px !important;
}
.whywe-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.whywe-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Kontaktt page */

/* .contact-page {
  margin-top: 120px;
}
.contact-title {
  justify-content: center;
  display: flex;
  font-size: 30px;
  font-weight: 600;
}
.contact-input {
  outline: none;
  border: 1px solid #dfdfdf;
}
.contact-button {
  background-color: #1e1e1e;
  border: 1px solid #1e1e1e;
  border-radius: 18px;
  color: white;
  padding: 4px 0;
} */
/* Agb Page */
.agb-content {
  margin-top: 90px;
}
/* faq Page */
.faq-content {
  margin-top: 90px;
}
.font-bold {
  font-weight: 500;
  color: black;
}
/* Menu */
.menu-banner-img {
  height: 100vh;
  width: 100%;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: flex-start;
}
.menu-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 24px;
  padding: 32px 24px;
}
.menu-contact-button {
  text-decoration: none;
  color: white;
  border: 1px solid #171a20cc;
  background-color: #ffc009;
  padding: 10px 30px;
  border-radius: 50px;
}
.menu-contact-button:hover {
  color: #0a0a0a;
}
.content-image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-style: none;
}
.text-justify {
  text-align: justify !important;
}
/* before and after slider */

@media screen and (max-width: 991px) {
  .section-padding {
    padding-top: 15px !important;
  }
}
.after-before {
  position: relative;
  color: #fff;
}
.section-padding {
  padding: 30px 0;
}
section,
p {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 400px;
  line-height: 1.5;
  margin: 0;
}
.after-before .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ontop {
  position: relative;
  z-index: 7;
}
.section-head h4 {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 2px;
}
.playfont {
  font-family: "poppins", serif;
}
.after-before .dotsbg {
  position: relative;
}
#before-after-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.imago.animated {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.imago {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
#before-after-slider .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.twentytwenty-after-label,
.twentytwenty-before-label {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
}
.twentytwenty-after-label,
.twentytwenty-before-label {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
}
#before-image {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}
#after-image {
  display: block;
}
.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid #fff;
  border-radius: 1000px;
  box-shadow: 0 0 12px rgb(51 51 51 / 50%);
  z-index: 40;
  cursor: pointer;
}
.twentytwenty-left-arrow {
  border-right: 6px solid #fff;
  left: 50%;
  margin-left: -17px;
}
.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}
.twentytwenty-right-arrow {
  border-left: 6px solid #fff;
  right: 50%;
  margin-right: -17px;
}
.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}
/* color selector components */

.color-selector {
  display: flex;
}
.color-selector .container-style {
  width: 50px;
  height: 50px;
  font-family: "Nunito", sans-serif;

  text-transform: uppercase;
  border: none;
  box-shadow: 12px 12px 24px rgb(104 104 104 / 64%);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;

  border-radius: 10px;
}

.row {
  --bs-gutter-x: 0 !important;
}
/* container anitamation components */
.position-relative {
  position: relative !important;
}
.hoverItemmm {
  padding-top: 3rem !important;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.indexxx {
  z-index: 1;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-style: none;
}
.position-absolute {
  position: absolute !important;
}
.bottom1 {
  position: absolute!important;
  bottom: 10%!important;
}
.hoverItemmm:hover {
  transform: translate(0, -50px);
}
.animation-button {
  background-color: #171a20cc;
  border: 1px solid #171a20cc;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
}
/* contact layer component */

.contact-layer {
  background-color: white;
  height: 180px;
  width: 60px !important;
  position: fixed;
  top: 130px;
  right: 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 8px 1px #0e0d0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}
/* contatiner dettail component */
.detail-img {
  width: 100%;
  height: 100%;
}
.detail-title {
  line-height: 1.4;
  font-weight: 600;
  font-size: 25px;
}
.detail-subtitle {
  line-height: 1.4;
  font-weight: 600;
  font-size: 55px;
  text-decoration: none !important;
  color: black;
}
.detail-btn {
  border-color: #171a20cc;
  color: #fff;
  background-color: #171a20cc;
  padding: 10px 30px;
  border: 1px solid #1e1e1e;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}
.detail-btn:hover {
  color: white;
}
/* new contact page */

.contact {
  background-color: #54a4d9;
  color: white;
  
}
.contact .contact-form {
  padding: 20px 50px 20px;
  color: black;
  font-size: 12px;
  color: #0a0a0a;
  line-height: 1.8;
}
.contact-select {
  width: 240px !important;
  height: 39px;
  margin: 0 0 16px;
  padding: 8px 24px 8px 8px;
  outline: none;
  border: 1px solid #cacaca;
}
.contact-input {
  height: 39px;
  margin: 0 0 16px;
  padding: 8px 24px 8px 8px !important;
  outline: none;
  border: 1px solid #cacaca;
}

.contact-textarea {
  margin: 0 0 16px;
  padding: 8px 24px 8px 8px;
  outline: none;
  border: 1px solid #cacaca;
}
.contact-btn {
  background-color: #54a4d9;
  color: #fff;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 13px 29px;
  font-weight: bold;
  margin-top: -2px;
  font-size: 14px;
}
.contact-info {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.contact-info:hover {
  color: #e7332e;
  text-decoration: none;
}
.contact-info-btn {
  background-color: #f8f9fa;
  border-radius: 3px;
  padding: 13px 29px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.contact-info-btn:hover {
  color: black;
}
/* categories page */
.category-name {
  color: #000000;
  text-decoration: none;

}
.category-btn{
  border: 1px solid #53a5da;
  cursor: pointer;
  cursor: pointer;
  border-radius: 20px;
  width: 167px;
  padding: 8px 16px;
  background-color: #53a5da;
 transition: all .2s;
  color: white;
text-align: center;
}
.category-btn:hover{
  background-color: white;

  color: #53a5da;
  

}
.category-name:hover {
  color: #000000;
  text-decoration: none;
}
.mt-10 {
  margin-top: 100px;
}
/* product page */
.card-info {
  min-height: 332px;
}
.detail-btn {
  text-decoration: none !important;
}
/* category page */
.category-list {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
}
.product-page-img {
  width: 100% !important;
  height: 100% !important;
}
.card-body {
  position: relative !important ;
}
.bottom-btn {
  position: absolute;
  bottom: 15px;
}
.navbar {
  display: flex !important;
  justify-content: space-between !important;
  font-weight: 500;
  background-color: transparent !important;
}
.navbar-catalog {
  padding-top: 5px;
  background-color: #f8f9fa;
  font-weight: 600;
}
.navbar-custom {
  height: 80px !important;
}

.floatemail {
  z-index: 10 !important;
  top: 13rem !important;
  align-items: center;
  background-color: #373a3d !important;
  border-radius: 50%;
  bottom: 2rem;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
  cursor: pointer;
  display: grid !important;
  height: 45px;
  justify-content: center;
  position: fixed;
  right: 23px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 45px;
}
.floatingbuttonnnn {
  z-index: 10 !important;
  top: 16.2rem !important;
  align-items: center;
  background-color: #1b76d2 !important;
  border-radius: 50%;
  bottom: 2rem;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
  cursor: pointer;
  display: grid !important;
  height: 45px;
  justify-content: center;
  position: fixed;
  right: 23px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 45px;
}
floatemail {
  z-index: 10 !important;
  top: 13rem !important;
  align-items: center;
  background-color: #373a3d !important;
  border-radius: 50%;
  bottom: 2rem;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
  cursor: pointer;
  display: grid !important;
  height: 45px;
  justify-content: center;
  position: fixed;
  right: 23px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 45px;
}

.cursor-home-shop {
  cursor: pointer;
  transform: scale(1);
}
.cursor-home-shop:hover {
  cursor: pointer;

  box-shadow: 3px 40px 4px 2px rgb(0 0 0 / 10%);
}
.navbar-info {
  display: flex;
  justify-content: flex-end;

  align-items: center;
}
.navbar-info-span {
  margin: 0 12px !important;
}
@media only screen and (max-width: 590px) {
  .navbar-info {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
  .navbar-info-span {
    margin: 0 !important;
  }
}
.color-select {
  display: flex;
  align-items: center !important;
}
.paint-icons {
  display: flex;
}

.paddingg {
  padding: 2rem !important;
}
.CoPiHo:hover {
  border-radius: 60%;
  border: 3px solid #336ce8;
}

.cursor-home-shop {
  cursor: pointer;
  transform: scale(1);
}
.cursor-home-shop:hover {
  cursor: pointer;

  box-shadow: 3px 40px 4px 2px rgb(0 0 0 / 10%);
}

/*------------------------------------------------------- Splide Arrows start-------------------------------------------------------*/
.splide__arrow--prev {
  left: -3em !important;
}
.splide__arrow--next {
  right: -3em !important;
}
.splide__pagination {
  bottom: -1rem !important;
}
.splide__pagination__page.is-active {
  background: #000000 !important;
}
/*------------------------------------------------------- font-weight end -------------------------------------------------------*/

.video-wrapper {
  min-height: 500px;
}

.video-wrapper .vid {
  position: relative;
  z-index: 8;
}

.video-wrapper .vid .vid-butn:hover .icon {
  color: #fff;
}

.video-wrapper .vid .vid-butn:hover .icon:before {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.video-wrapper .vid .vid-butn .icon {
  color: #212529;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  font-size: 17px;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.video-wrapper .vid .vid-butn .icon:after {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  left: 5px;
  border: 1px solid #eee;
  border-radius: 50%;
  z-index: -1;
}

.video-wrapper .vid .vid-butn .icon:before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  left: 5px;
  background: #fff;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  -o-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.section-padding {
  padding-top: 15px !important;
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.VideoDes {
  display: block !important;
}
.VideoMob {
  display: none !important;
}
.full-width {
  width: 100% !important;
}
.cursor-home-shop {
  cursor: pointer;
  transform: scale(1);
}
.ArowVideoPrev {
  left: 2em !important;
}
.cursor-home-shop:hover {
  cursor: pointer;

  box-shadow: 3px 40px 4px 2px rgb(0 0 0 / 10%);
}
@media only screen and (max-width: 590px) {
  .navbar-catalog {
    display: none;
  }
}
.ProductPgBgColor {
  background-color: #f2f4f5 !important;
}
.offcanvas-end {
  top: 0;
  right: 0;
  width: 230px !important;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
}
.close-collopse {
  display: none !important;
}
.stCoBtn {
  z-index: 999999 !important;
  top: 12rem !important;
  align-items: center;
  background-color: #53a5da !important;
  bottom: 2rem;

  display: grid !important;
  height: 9.5rem;
  position: fixed;
  right: 0rem;
  user-select: none;
  width: 2.8rem;
}
.footerdisDes {
  display: block !important;
}
.floatPhoneDes {
  z-index: 10 !important;
  top: 15rem !important;
  align-items: center;
  bottom: 2rem;
  border-bottom: 2px solid rgb(255, 255, 255);
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
  cursor: pointer;
  display: grid !important;
  height: 45px;
  justify-content: center;
  position: fixed;
  right: 0rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 45px;
}
.floatEmaillDes {
  z-index: 10 !important;
  top: 12rem !important;
  align-items: center;
  border-bottom: 2px solid rgb(255, 255, 255);
  bottom: 2rem;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
  cursor: pointer;
  display: grid !important;
  height: 45px;
  justify-content: center;
  position: fixed;
  right: 0rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 45px;
}
.stCoBtnMo {
  z-index: 10 !important;
  bottom: 0px;
  align-items: center;
  background-color: #53a5da !important;
  margin: 0;
  box-shadow: 0 4px 12px 0 #53a5da;
  display: grid !important;
  height: 6%;
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  box-shadow: 1px 1px 15px 1px #53a5da;
}
.footerdisMo {
  display: none !important;
}

.floatemailMobil {
  z-index: 10 !important;
  bottom: 1rem;
  cursor: pointer;
  position: fixed;
  right: 2rem;
}
.floatingbuttonnnnMobil {
  z-index: 10 !important;
  bottom: 1rem;
  cursor: pointer;
  position: fixed;
  left: 2rem;
}

.BorderWyWe {
  border: 1px solid white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.zoomWhyWe:hover {
  transform: scale(1.10);
  transition: transform .2s;
}



@media only screen and (max-width: 786px) {
  .footerdisMo {
    display: block !important;
  }
  .footerdisDes {
    display: none !important;
  }
  .VideoDes {
    display: none !important;
  }
  .VideoMob {
    display: block !important;
  }
}
.shadow-product:hover {
  border-color: transparent !important;
  box-shadow: 0 3px 14px 2px rgb(31 31 31 / 6%),
    0 8px 10px 1px rgb(31 31 31 / 8%), 0 5px 5px -3px rgb(31 31 31 / 6%);
  cursor: pointer !important;
}
.danke-page{
  
  display: flex !important ;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
}
.mt-17{
  margin-top: 200px;
}
.danke{
  height: 300px;

}
.danke-text{
color: #616160;
}
.color-container{
  width: 100% !important;
  height: auto;
}

.nav-bg{
  background-color: #ffffff !important;
}
.btn-color{
  background-color: #53a5da !important
}
.btn-contact-color{
  background-color: #2f318e !important;
  color: white !important;
}
.about-list li{
  list-style: disc !important;
  margin-top: 3px !important;
  font-size: 15px;
}
.bg-about{
  background-color: #f2f2f2;

}
.card{
  border: none !important;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
   padding-top: 0 !important; 
   padding-bottom: 0 !important; 
}